// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// plant to rent color
$title: #5C8D89; // h1, h2, h3
$avatar-outline: #A7D7C5; // circle avatar
$text-menu: #BBBBBB; // menu txt
$text: #707070; // text description
$input-search: #F5F6F7; // background input search
