// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.wrapper {
  background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.2)),
    url('https://res.cloudinary.com/dvvkrrjc4/image/upload/v1550607011/background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;

}
