.container-show {
  display: flex;
  justify-content: space-between;
  align-items : center;
}

.photo-container {
  flex: 0 0 25%;

}

.plant-details {
  flex: 0 0 45%;
  height: 80vh;
  background-color: #F5F6F7;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin: 20px;
  border-radius: 5px;
  h2 {
    text-align:right;
  }
  #family{
    text-align:right;
    color: #A7D7C5;
  }
}

.book-and-back {
  flex: 0 0 25%;
  background-color: yellow;
}

.plant-photo{
  background-size: cover;
  width: 100%;
  height: 100%;
  border: 3px solid #A7D7C5;
}

.detail {
  padding-top: 8px;
}

#motproprio {
  font-style: italic;
  margin : 6px;
  text-align: right;
}

#description {
  font-style: italic;
  margin : 6px;
  text-align: right;
}

