.welcome {
  margin-top: 20px;
  margin-left: 40px;
  display: inline-block;
  color: $title;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fff;
  font-family: $body-font;
  font-size: 14px;
  padding: 10 5px;
  border: 1px solid $title;
  font-weight: 100;
  width: auto;
}
.title-user {
  margin: 0px 0px 0px 40px;
}
