
<div class="home-flex">
<div class="home-content">

  <h1 class="title-home">Plant to rent</h1>
  <p class="tagline-home">Location de plantes pour vos évènements</p>

  <div class="home-form">

      <form action="">
        <div class="label-form">

          <input type="text">
        </div>
        <div class="select-form">
          <select name="" id="">
            <option value="">-- Type de plante --</option>
            <option value="dog">plantes grasses</option>
            <option value="cat">plantes vertes</option>
            <option value="cat">plantes fleuries</option>
            <option value="cat">arbustes</option>
            <option value="cat">arbres fruitiers</option>
          </select>
        </div>
        <div class="text-center button-form">

          <%= link_to "Rechercher", plants_path, class: "button" %>
        </div>
      </form>

  </div>

</div>
</div>
